@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  *{
    outline: none;
  }
  body {
    background-color: rgb(24, 24, 24);
  }
}
@layer utilities {
	.scrollbar-none::-webkit-scrollbar {
		display: none;
	}
	.scrollbar::-webkit-scrollbar {
		height: 4px; /* TamaÃ±o del scroll en horizontal */
	}
	.scrollbar::-webkit-scrollbar-thumb {
		background: none;
	}
	.scrollbar:hover::-webkit-scrollbar-thumb {
		background: var(--bg-scrollbar-thumb);
	}
	.caret-bold {
		caret-color: #4bfff0; /* Color del caret */
		border-right: 2px solid #3498db6c hsl(221, 54%, 33%);
		caret-width: 5px;
	}

	.indent {
		position: relative;
	}
	.indent::before {
		content: '';
		position: absolute;
		width: 1px;
		background-color: rgba(255, 255, 255, 0.178);
		top: -2px;
		left: 0;
		bottom: -2px;
	}
	.text-pretty {
		text-wrap: pretty;
	}
	.text-balance {
		text-wrap: balance;
	}
	.grid-col-1 {
		grid-template-columns: 1fr;
	}
}